.container {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color:aqua;
    color: black;
}

.btn {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    outline: 1px green;
}